%h1
  Sighting No. #{@sighting.id}

#map-canvas

:javascript
  display_map(#{@sighting.latitude}, #{@sighting.longitude})
  add_marker(#{@sighting.latitude}, #{@sighting.longitude}, "#{@sighting.location}")