= form_for sighting, html: {multipart: true} do |f|
  = f.label :image
  = image_tag sighting.image
  = f.file_field :image
  / remote image url will go here
  = f.label :location
  = f.text_field :location
  = f.submit